.wallet-wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.wallet-address {
    text-align: center;
}

.clicker-interaction-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.counts-wrapper {
    display: contents;
}

.buttons-wrapper {
    display: contents;
}

.init-wrapper {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}